@import './colors.scss';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	padding-block: 0px;
	padding-inline: 0px;
}

button,
input {
	background-color: transparent;
	color: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	border: none;
	cursor: pointer;
	font-size: 100%;
}

body {
	font-family: var(--font-zen), sans-serif;

	background-color: $bg;
	color: #d9d9d9;

	min-height: 100dvh;

	font-size: 1rem;
	line-height: inherit;

	@media (max-width: 1200px) {
		font-size: 16px;
	}

	@media (max-width: 992px) {
		font-size: 14px;
	}

	@media (max-height: 768px) {
		height: max-content;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}

		&::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 6px $primary;
			border-radius: 5px;
		}
	}
}

input.defaultCheckbox {
	color: #ffffff;
}

input.defaultCheckbox::before {
	content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66662 10.115L12.7946 3.98633L13.7379 4.92899L6.66662 12.0003L2.42395 7.75766L3.36662 6.81499L6.66662 10.115Z' fill='white'/%3E%3C/svg%3E%0A");
	fill: currentColor;
	opacity: 0;
	height: 16px;
	width: 16px;
	top: 1px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0px);
}

input.defaultCheckbox::before path {
	fill: currentColor;
}

input:checked.defaultCheckbox::before {
	opacity: 1;
}

.slide {
	animation: slide_anim 0.5s;
}

@keyframes slide_anim {
	from {
		transform: translateX(50px);
		opacity: 0.4;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.animation-opacity {
	animation: opacity_anim 0.5s;
}

@keyframes opacity_anim {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
