@import '@/app/styles/colors.scss';

.wrapper {
	display: grid;
	min-height: 100dvh;
	grid-template-columns: max-content auto;
}

.main {
	padding: 2.3rem;
	max-height: 100dvh;
	position: relative;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	&::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 6px $primary;
		border-radius: 5px;
	}
}

@media (max-width: 768px) {
	.wrapper {
		display: flex;
		flex-direction: column;
		height: max-content;
	}

	.main {
		min-height: calc(100dvh - 4.55rem);
		height: max-content;
		max-height: max-content;
		overflow: auto;
	}
}
