.timeBlockingForm {
	width: 60%;

	@media (max-width: 1370px) {
		width: 80%;
	}

	@media (max-width: 1050px) {
		width: 100%;
	}
}

.formField {
	margin-bottom: 1rem;
}

.formSelect {
	display: inline-block;
	margin-bottom: 0.375rem;
}

.submitButton {
	margin-top: 1.5rem;
}
