@import '@/app/styles/colors.scss';

.datePicker {
	position: relative;
}

.cross {
	position: absolute;
	top: -0.5rem;
	right: -1rem;
	opacity: 0.3;

	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
	display: flex;

	&:hover {
		opacity: 1;
	}
}

.datePickerWrapper {
	position: absolute;
	padding: 0.625rem;
	z-index: 10;
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	background-color: $sidebar;
	top: calc(100% - 0.7rem);
}

.left {
	left: -1rem;
}

.right {
	right: -1rem;
}
