.pomodoro {
	position: relative;
	width: 100%;
	max-width: 20rem;
	text-align: center;

	@media (max-width: 768px) {
		margin: auto;
	}
}

.time {
	font-size: 5.33rem;
	font-weight: 600;
}

.pause {
	margin-top: 0.25rem;
	opacity: 0.8;
	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		opacity: 1;
	}
}

.refresh {
	position: absolute;
	top: 0px;
	right: 0px;
	opacity: 0.4;

	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		opacity: 0.9;
	}
}

.startButton {
	margin-top: 0.25rem;
}
