@import '@/app/styles/colors.scss';

.singleSelect {
	position: relative;
	min-width: 9rem;
}

.colorSelected {
	width: max-content;
}

.cross {
	position: absolute;
	top: -0.5rem;
	right: -1rem;
	opacity: 0.3;
	display: flex;

	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		opacity: 1;
	}
}

.select {
	text-transform: capitalize;
}

.optionsList {
	position: absolute;
	width: max-content;
	padding: 0.625rem;
	left: 0px;
	background-color: $sidebar;
	z-index: 10;
	top: calc(100% - 0.5rem);
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	border-radius: 0.5rem;
}

.option {
	display: block;
	margin-bottom: 1rem;
	text-transform: capitalize;
	border-radius: 0.5rem;

	&:last-child {
		margin-bottom: 0px;
	}
}
