@import '@/app/styles/colors.scss';

.button {
	border-radius: 0.5rem;

	background-color: transparent;
	border: 1px solid $primary;

	padding: 0.5rem 1.75rem;

	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 500;
	color: #ffffff;

	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: linear;
	transition-duration: 150ms;

	&:hover {
		background-color: $primary;
		cursor: pointer;
	}

	&:active {
		background-color: #1e0daa;
	}
}
