.timeBlock {
	border-radius: 0.25rem;
	margin-bottom: 0.75rem;
	padding: 1rem;
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 1.07rem;

	.grip {
		opacity: 0.25;
		transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
		margin-left: -0.25rem;
		margin-right: 0.125rem;

		&:hover,
		&:active {
			opacity: 1;
		}
	}

	&:hover,
	&:active {
		opacity: 1;
	}
}

.buttons {
	display: flex;
	flex-wrap: nowrap;
}

.name {
	display: flex;
	align-items: center;
	overflow: hidden;

	> div {
		text-overflow: ellipsis;
		text-wrap: nowrap;
		overflow: hidden;
	}
}

.minText {
	font-size: 0.9rem;
	opacity: 0.5;
}

.button {
	opacity: 0.5;
	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		opacity: 1;
	}
}

.reset {
	margin-right: 0.5rem;
}
