@import '@/app/styles/colors.scss';

.statsBlock {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 3rem;
	margin-top: 1.75rem;
}

.noStats {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: 600;
	opacity: 0.4;
}

.stat {
	background-color: #2b2c2c80;
	border-radius: 0.25rem;
	padding: 1.4rem;
	text-align: center;

	transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.5s;

	&:hover {
		transform: translateY(0.75rem);
	}
}

.title {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.value {
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: 600;
}

.loader {
	height: calc(100dvh - 8.8rem);
}

@media (max-width: 1470px) {
	.statsBlock {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (max-width: 768px) {
	.statsBlock {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
