@import '@/app/styles/colors.scss';

.label {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: #ffffff99;
	margin-left: 0.375rem;
	font-weight: 500;
}

.input {
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: #ffffff;

	border: 1px solid $border;
	border-radius: 0.5rem;
	outline: 2px solid transparent;
	outline-offset: 2px;

	background-color: #ffffff00;
	padding: 0.75rem;

	font-size: 1rem;
	line-height: 1.5rem;

	transition-duration: 500ms;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&::placeholder {
		color: #ffffff4d;
		font-weight: 400;
	}

	&:placeholder-shown {
		text-overflow: ellipsis;
	}

	&:hover {
		cursor: text;
	}

	&:focus {
		border-color: $primary;
	}
}

.disabled {
	border: none !important;
	background-color: #f3f4f6 !important;
}

.error {
	border-color: #ef4444;
	color: #ef4444;

	&::placeholder {
		color: #ef4444;
	}
}

.success {
	border-color: #22c55e;
	color: #22c55e;

	&::placeholder {
		color: #22c55e;
	}
}
