.notLastItem {
	margin-bottom: 1rem;
}

.lastItem {
	margin-bottom: 2.5rem;
}

.settingsForm {
	width: 75%;

	@media (max-width: 1050px) {
		width: 100%;
	}
}

.settingsBlocks {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 2.5rem;

	@media (max-width: 860px) {
		grid-template-columns: 100%;
		gap: 0px;
	}
}
