.header {
	position: absolute;
	top: 2.3rem;
	right: 2.3rem;

	@media (max-width: 768px) {
		top: 0.2rem;
	}
}

.info {
	display: flex;
	align-items: center;
}

.infoText {
	text-align: right;
	margin-right: 0.75rem;
}

.name {
	font-weight: 700;
	margin-bottom: -0.25rem;
}

.email {
	font-size: 0.875rem;
	line-height: 1.25rem;
	opacity: 0.4;
}

.avatar {
	width: 2.5rem;
	height: 2.5rem;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: uppercase;

	color: #ffffff;
	background-color: #ffffff33;

	border-radius: 0.25rem;
}
