.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.icon {
	height: 1.25rem;
	width: 1.25rem;
	color: #ffffff;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
