@import '@/app/styles/colors.scss';

.pomodoroRounds {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.roundsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.25rem;
	gap: 0.75rem;
}

.button {
	opacity: 0.2;
	margin-top: 0.25rem;
	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		opacity: 1;
	}

	&:disabled {
		opacity: 0.2;
	}
}

.round {
	border-radius: 0.25rem;
	border: 1px solid $border;
	width: 1.25rem;
	height: 1.25rem;
	position: relative;

	&::before {
		background-color: $primary;
		border-top-left-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;

		transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		height: 100%;
	}

	&.active::before {
		transition-duration: 1s;
		width: 40%;
	}

	&.completed::before {
		border-radius: 0.25rem;
		width: 100%;
	}
}
