@import '@/app/styles/colors.scss';

.checkbox {
	position: relative;
	display: inline-flex;

	height: 20px;
	min-height: 20px;
	width: 20px;
	min-width: 20px;

	appearance: none;
	align-items: center;
	justify-content: center;

	border-radius: 0.375rem;

	border: 1px solid #d1d5db;
	color: #ffffff00;
	outline: none;

	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: linear;
	transition-duration: 150ms;

	&:checked {
		background-color: $primary;
		border: none;
		color: #ffffff;
	}

	&:hover {
		cursor: pointer;
	}
}
