.noBlocks {
	text-align: center;
	margin-top: 10rem;

	@media (max-width: 885px) {
		margin-top: 1rem;
	}
}

.emptyText::before {
	content: 'Добавьте первый блок в форме справа →';

	@media (max-width: 885px) {
		content: 'Добавьте первый блок в форме ниже ↓';
	}
}
