@import '@/app/styles/colors.scss';

.menuItem {
	display: flex;
	gap: 0.625rem;
	padding: 0.375rem 1.4rem;
	margin-top: 1.5rem;
	border-radius: 0.5rem;
	text-decoration: none;
	color: inherit;
	opacity: 0.2;

	transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		background: $border;
		cursor: pointer;
		opacity: 1;
	}

	@media (max-width: 768px) {
		display: grid;
		grid-template-columns: 24px 110px;
		gap: 1rem;
		margin-top: 1rem;
		justify-content: center;
	}
}
