@import '@/app/styles/colors.scss';

.listView {
	width: 100%;
}

.listViewHeader {
	display: grid;
	grid-template-columns: 1.4fr 0.4fr 0.4fr 0.1fr;

	border-radius: 0.25rem;
	border-top: 1px solid $border;
	text-align: left;
	width: auto;
	white-space: nowrap;

	div {
		border-right: 1px solid $border;
		padding: 0.5rem 1rem;

		&:last-child {
			border-width: 0px;
		}
	}

	@media (max-width: 768px) {
		height: 0px;
		overflow: hidden;
		border: 0px;
	}
}
