@import '@/app/styles/colors.scss';

.kanbanCard {
	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: 0.25rem;
	border: 1px solid $border;
	position: relative;
	margin-top: 1.25rem;
	padding: 1rem;
	background-color: #0e0f0f;
}

.completed {
	opacity: 0.5;
	font-style: italic;
	text-decoration-line: line-through;
}

.grip {
	opacity: 0.2;
	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
	margin-left: -0.5rem;
	margin-right: -0.25rem;
	position: absolute;
	top: 0.5rem;
	right: 0.375rem;

	&:hover,
	&:active {
		opacity: 1;
	}
}

.cardHeader {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
	font-size: 93%;

	input:last-child {
		margin-left: 0.5rem;
	}
}

.cardBody {
	font-size: 83%;

	> div > button > span {
		font-size: 83%;
	}

	> div > div > button > span {
		font-size: 83%;
	}

	> div {
		margin-bottom: 0.625rem;
		width: max-content;
		min-width: 6rem;

		> button:last-child {
			opacity: 0.15;
		}
	}
}

.cardActions {
	position: absolute;
	bottom: 0.25rem;
	right: 0.375rem;
	opacity: 0.4;

	> button {
		opacity: 0.5;
		transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			opacity: 1;
		}
	}
}
