@import '@/app/styles/colors.scss';

.menuItem {
	display: flex;
	gap: 0.625rem;
	padding: 0.375rem 1.4rem;
	margin-top: 0.5rem;
	border-radius: 0.5rem;
	text-decoration: none;

	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	color: inherit;

	&:hover {
		background: $border;
	}

	@media (max-width: 768px) {
		display: grid;
		grid-template-columns: 24px 130px;
		gap: 1rem;
		justify-content: center;
	}
}
