@import '@/app/styles/colors.scss';

.kanbanView {
	display: grid;
	grid-auto-flow: column;
	width: 100%;
	gap: 2rem;

	overflow-x: auto;

	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	&::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 6px $primary;
		opacity: 0.2;
		border-radius: 5px;
	}
}
