@import '@/app/styles/colors.scss';

.formWrapper {
	display: flex;
	min-height: 100dvh;
}

.form {
	margin: auto;
	width: 25%;
	min-width: max-content;
	border-radius: 0.75rem;
	background: $sidebar;
	padding: 1.4rem;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
}

.links {
	margin-top: 1.25rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
}

.link {
	display: flex;
	flex-direction: row;
	gap: 10px;
	background: $sidebar;
	border: 1px solid $secondary;
	color: white;
	padding: 0.5rem 1.75rem;
	border-radius: 0.5rem;
	text-decoration: none;
	font-size: 1rem;

	transition: 0.2s;

	&:hover {
		scale: 1.03;
		background-color: $primary;
	}
}

.email {
	margin-bottom: 1rem;
}

.password {
	margin-bottom: 1.5rem;
}
