@import '@/app/styles/colors.scss';

.listRow {
	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
	font-weight: 400;
	display: grid;
	grid-template-columns: 1.4fr 0.4fr 0.4fr 0.1fr;
	position: relative;
	border-radius: 0.25rem;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	text-align: left;
	align-items: center;
	width: auto;
	white-space: nowrap;

	&:hover {
		background-color: #1c1f1f;
	}

	> div {
		border-right: 1px solid $border;
		padding: 0.5rem 1rem;

		&:last-child {
			border-width: 0px;
		}
	}

	@media (max-width: 890px) {
		grid-template-columns: 1fr 1fr calc(2rem + 15px);

		> div:first-child {
			grid-column: span 3;
			border-bottom: 1px solid $border;
			border-right-width: 0px;
		}
	}

	@media (max-width: 555px) {
		grid-template-columns: 100%;
		> div {
			display: flex;
			justify-content: center;
			border-right-width: 0px !important;
			border-left-width: 0px !important;
			border-bottom: 1px solid $border !important;

			&:last-child {
				border-bottom-width: 0px !important;
			}
		}

		> div:first-child {
			grid-column: span 1;
		}
	}
}

.completed div span input {
	opacity: 0.5;
	font-style: italic;
	text-decoration-line: line-through;
}

.grip {
	opacity: 0.2;
	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
	margin-left: -0.75rem;
	margin-right: -0.25rem;

	&:hover,
	&:active {
		opacity: 1;
	}
}

.name {
	display: inline-flex;
	align-items: center;
	gap: 0.625rem;
	width: 100%;
}

.deleteButton {
	opacity: 0.5;
	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
	display: flex;

	&:hover {
		opacity: 1;
	}
}
