@import '@/app/styles/colors.scss';

.sidebar {
	height: 100dvh;
	border-right: 1px solid $border;
	background-color: $sidebar;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}

	@media (max-width: 768px) {
		width: 100dvw;
		height: max-content;
		font-size: 1rem;
	}
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.625rem;
	padding: 1.4rem;
	border-bottom: 1px solid $border;
	text-decoration: none;
	color: inherit;

	@media (max-width: 768px) {
		justify-content: center;

		&:hover {
			cursor: pointer;
		}
	}
}

.title {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 700;
	position: relative;
}

.mainLink {
	color: inherit;
}

.extraText {
	position: absolute;
	top: -0.75rem;
	right: -1rem;
	font-size: 0.75rem;
	line-height: 1rem;
	opacity: 0.4;
	rotate: 18deg;
	font-weight: 400;
}

.sidebarMenu {
	padding: 0.75rem;
	position: relative;
	transition: 0.3s;

	div {
		transition: 0.3s;
	}

	svg {
		transition: 0.3s;
	}
}

.sidebarFooter {
	opacity: 0.4;
	font-weight: 400;
	text-align: center;
	font-size: 0.75rem;
	line-height: 1rem;
	padding: 1.4rem;

	@media (max-width: 768px) {
		height: 0px;
		overflow: hidden;
		padding: 0px;
	}
}

@media (max-width: 768px) {
	.closed {
		height: 0px;
		overflow: hidden;
		padding: 0px;

		div {
			height: 0px;
			font-size: 0px;
		}

		svg {
			height: 0px;
			width: 0px;
		}
	}
}
