@import '@/app/styles/colors.scss';

.RowParentHeading {
	background-color: #0e0f0f;
	border-radius: 0.25rem;
	border-top: 1px solid $border;
	text-align: left;
	width: auto;
	white-space: nowrap;

	&:hover {
		background-color: transparent;
	}

	div {
		border-right: 1px solid $border;

		&:last-child {
			border-width: 0px;
		}
		font-weight: 600;
		font-size: 1.38rem;

		padding: 1rem 0.75rem;
		width: 100%;
	}
}
